@model SchedulingApp.Models.Employees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisteredCompanyid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredCompanyid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HigherDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HigherDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobRoleid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobRoleid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availabilityid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availabilityid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
